<h1>Data Science Tools and Ecosystem</h1>

In this notebook, Data Science Tools and Ecosystem are summarized.

<h5>Some of the popular languages that Data Scientists use are:<h5>

<p>- python</p>
    <p>- R</p>
    <p>- Julia</p>
    <p>- Matlab</p>

Some of the commonly used libraries used by Data Scientists include :

Caret
Scikit-learn
pytorch
Numpy
Pandas

header Data Science Tools
jupyter notebook
jupyter lab
rstudio
github
apache
mysql

<h3>Below are a few examples of evaluating arithmetic expressions in Python</h3>

In [4]:
###This a simple arithmetic expression to mutiply then add integers
a=(3*4)+5
print(a)

17

In [5]:
###This will convert 200 minutes to hours by diving by 60
a=200
b=a//60
print(b)

3

<p>Objectives:</p>

In [6]:
list_objectif={"intro", "arithmetic", "librairies", "languages", "tools"}
print(list_objectif)

{'intro', 'librairies', 'languages', 'arithmetic', 'tools'}

<h2>MALOO BELL Lo√Øck</h2>