<h1>Data Science Tools and Ecosystem</h1>

In this notebook, Data Science Tools and Ecosystem are summarized.

Some of the popular languages that Data Scientists use are: 
<p>1- python</p>
<p>2- sql</p>
<p>3- julia</p>
<p>4- R</p>

Some of the commonly used libraries used by Data Scientists include :

<p>Pandas<p>
<p>Numpy<p>
<p>Matplotlib<p>
<p>Seaborn<p>
<p>Caret<p>
<p>Scikit-learn<p>

In [12]:
import pandas as pd
data = {
' Data Science Tools' : ["Anaconda", "jupyter notebook", "spyder" , "rstudio"]
}
df = pd.DataFrame(data)
df

   Data Science Tools
0            Anaconda
1    jupyter notebook
2              spyder
3             rstudio

<h3>Below are a few examples of evaluating arithmetic expressions in Python</h3>

In [4]:
###This a simple arithmetic expression to mutiply then add integers
a=(3*4)+5
print(a)

17

In [7]:
###This will convert 200 minutes to hours by diving by 60
a=200
b=a/60
print(b)

3.3333333333333335

<h5>Objectives:</h5>

In [14]:
ma_liste = ["Apprendre Python", "Utiliser Jupyter", "Analyser des données"]
print('Objectives : ')
for element in ma_liste:
    print(f"• {element}") # Ou utilisez un tiret "- "

Objectives :
• Apprendre Python
• Utiliser Jupyter
• Analyser des données

<h2>Author(s)</h2>

MALOO BELL